ScrapyTest/quotetutorual/.idea
ScrapyTest/quotetutorual/quotetutorual/__pycache__
ScrapyTest/quotetutorual/quotetutorual/spiders/__pycache__
zhihu/zhihuuser/zhihuuser/__pycache__
zhihu/zhihuuser/zhihuuser/spiders/__pycache__
zhihu/zhihuuser/.idea
*.pyc
weibo/weibosearch/.idea
